<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,852}}</string>
                <key>sourceSize</key>
                <string>{480,852}</string>
            </dict>
            <key>game_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,942},{48,36}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,36}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,942},{108,37}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,37}}</string>
                <key>sourceSize</key>
                <string>{186,37}</string>
            </dict>
            <key>game_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,856},{176,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{176,36}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,981},{2,4}}</string>
                <key>offset</key>
                <string>{-51,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{2,4}}</string>
                <key>sourceSize</key>
                <string>{114,28}</string>
            </dict>
            <key>mylog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{209,140}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,83},{209,140}}</string>
                <key>sourceSize</key>
                <string>{441,288}</string>
            </dict>
            <key>shoot_copyright_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{429,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{429,84}}</string>
                <key>sourceSize</key>
                <string>{441,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoot_background.png</string>
            <key>size</key>
            <string>{484,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e277bf8e6ede3bbf78e6826d8b511be7$</string>
            <key>textureFileName</key>
            <string>shoot_background.png</string>
        </dict>
    </dict>
</plist>
